<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @transaction.description %>
</p>

<p>
  <b>Details:</b>
  <%= @transaction.details %>
</p>

<p>
  <b>Amount:</b>
  <%= @transaction.amount %>
</p>

<p>
  <b>User:</b>
  <%= @transaction.user_id %>
</p>

<p>
  <b>Group:</b>
  <%= @transaction.group_id %>
</p>

<p>
  <b>Group member:</b>
  <%= @transaction.group_member_id %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
